@import url('https://fonts.googleapis.com/css?family=poppins:400,500,700');
 
body {
    overflow-x: hidden;
    font-family: 'poppins', sans-serif;   /*-- san-serif is a backup font--*/
    color: #222;
}
/*-- this is the start of the navbar style--*/
.navbar{
    padding: .8rem;
    font-weight: 500;
}
.navbar-nav li{
    padding-right: 25px;
}
.navbar img{
    padding-left: 3rem;
}
.navbar-light .navbar-nav .nav-link{
    color: #676e86;
    font-family: 'sailec';
    font-style: normal;
    font-size: 20px; 
    letter-spacing: .1rem;
}
.sancho{
    background: #5474ff;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
    color:#5474ff;
}

/*-- this is the end of the navbar style--*/
/* background image */
.view {
    min-height: 100vh;
    background-size: cover;
    display: '-webkit-box';
    display: '-webkit-flex';
    display:' -moz-box';
    display: '-ms-flexbox';
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.view::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(7, 53, 255, 0.5);;
}



.smalling{
    position: absolute;
    top: 38%;
    width: 100%;
    right: 0;
    left: 0;

}
.smalling h1{
    font-family: 'sailec';
    font-style: normal;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
    color: #ffffff;
    

}
.smalling h3{
    font-size: 16px;
    padding-bottom: 1.6rem;
    font-weight: 500;
    font-family: 'sailec';
    font-style: normal;
    letter-spacing: 0.15em;
    color: #f4f4f4;
}
/*end background image */

.padding {
    padding-top: 3rem;  
} 
.col {
    padding-left: 2rem;
    padding-right: 2rem;
} 
.col img{
    height: 2rem;
    
} 
.social img{
    font-size: 3.5em;
    padding: 2rem;
}
.jumbotron{
    background: #fafbff;
}
/*two column section*/
.seun1 {
    padding-top: 2rem;
    margin: 2rem;  
}   
.seun2 h2{
    padding-top: 4rem;
    margin-left: 2rem;
    margin-right: 5rem; 
    font-family: 'sailec';
    font-style: normal;
    font-weight: bold; 
    font-size: 65px;
    color:#2b3145 ;

  }
  .seun2  p{
    margin-left: 2rem;
    margin-right: 5rem; 
    font-family: 'sailec';
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 18px;
    color: #676e86;
}
/*text block section*/

.text-block {
    background-color:white;
    width: 450px;
    height: 86px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 4px 20px rgba(178, 191, 251, 0.25);
    border-radius: 10px;
     
 }
 .peace{
    padding-top: 1.9rem;
    padding-left: 2rem;
    color:#c0c1c2;
    font-family:'sailec';
    font-style:normal ;
    font-weight: bold;
    font-size: 22px;
 }
 .peace1{
    padding-left: 2rem;
    padding-top: 2.1rem;
    color:#a9abb1;
    font-family:'sailec';
    font-style:normal ;
    font-weight: normal;
    font-size: 18px;
 }
 span{
     font-weight: bold;
 }
 .kemi{
    padding-top: 1.9rem;
    padding-left: 4rem;
    color:#c0c1c2;
    font-family:'sailec';
    font-style:normal ;
    font-weight: bold;
    font-size: 22px;
 }
 .kemi1{
    padding-left: 2rem;
    padding-top: 2.1rem;
    color:#a9abb1;
    font-family:'sailec';
    font-style:normal ;
    font-weight: normal;
    font-size: 18px;
 }
 .itunu{
    padding-top: 1.9rem;
    padding-left: 6rem;
    color:#c0c1c2;
    font-family:'sailec';
    font-style:normal ;
    font-weight: bold;
    font-size: 22px;
 }
 .itunu1{
    padding-left: 2rem;
    padding-top: 2.1rem;
    color:#a9abb1;
    font-family:'sailec';
    font-style:normal ;
    font-weight: normal;
    font-size: 18px;
 }
 /*end of text block section*/
 /*end of two column section*/

 /*jumbotron section*/
.lekan{
    background: #5474ff;
    padding-left: 5rem;
}
.lid h6{
    color:#b2bffb;
    font-family:'sailec';
    font-style:normal ;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.3em;
}
.lid p{
    color:#ffffff;
    font-family:'sailec';
    font-style:normal ;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
}
.welcome h1{
    color:#2b3145;
    font-family:'sailec';
    font-style:normal ;
    font-weight: bold;
    font-size: 57px;
    letter-spacing: 0.05em;
}
.welcome p{
    color:#676e86;
    font-family:'sailec';
    font-style:normal ;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
} 
.dusin{
    color:#676e86;
    font-family:'sailec';
    font-style:normal ;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em; 
}
.jay{
   color:#5474ff ;
   font-weight: bold;  
} 
/*--location--*/
.fa-dot-circle{
    color:#5474ff ;
    font-size: 24px;
}
.bim{
    padding-left: 32rem;
}
.sim{
    padding-left: 27rem;
}

.bim1{
    padding-left: 70rem;
}
.sim1{
    padding-left: 65rem;
}

.bim2{
    padding-left: 20rem;
}
.sim2{
    padding-left: 15rem;
}

.bim3{
    padding-left: 40rem;
}
.sim3{
    padding-left: 35rem;
}

.bim4{
    padding-left: 60rem;
}
.sim4{
    padding-left: 55rem;
}

.bim5{
    padding-left: 25rem;
}
.sim5{
    padding-left: 20rem;
}
.ayo{
    background-color:white;
    width: 200px;
    height: 68px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 4px 20px rgba(178, 191, 251, 0.25);
    border-radius: 10px;
}
.ayo h6{
    color:#676e86;
    font-family:'sailec';
    font-style:normal ;
    font-weight: normal;
    font-size: 16px;
    padding-top: 1rem;
}
.ayo p{
    color:#c0c1c2;
    font-family:'sailec';
    font-style:normal ;
    font-weight: normal;
    font-size: 9px;
}
/*--end of location--*/
/*--two colunm section--*/

.cray h5{
    padding-top: 4rem;
    margin-left: 5rem;
    margin-right: 1rem; 
    font-family: 'sailec';
    font-style: normal;
    font-weight: 500; 
    font-size: 12px;
    letter-spacing: 0.05rem;
    color: #676e86;
}
.cray h2{
    padding-top: 1rem;
    margin-left: 5rem;
    margin-right: 1rem; 
    font-family: 'sailec';
    font-style: normal;
    font-weight: bold; 
    font-size: 48px;
}
.cray p{
    margin-left: 5rem;
    margin-right: 1rem; 
    font-family: 'sailec';
    font-style: normal;
    font-weight: normal; 
    font-size: 14px;
    letter-spacing: 0.08rem;
    color: #676e86;
}
.cray2 h6{
    margin-left: 6rem;
    margin-right: 1rem; 
    font-family: 'sailec';
    font-style: normal;
    font-weight: 500; 
    font-size: 18px;
    letter-spacing: 0.05rem;
    color: #676e86;
}

.img-fluid{
    padding-left: 4rem;
}
.heading-underline{
    width: 7.7rem;
    height: .1rem;
    background-color:#5474ff;
    margin-left: 5rem;
    margin-right: 1rem; 
}
/*--why choose us section--*/
.bia h6{
    font-family: 'sailec';
    font-style: normal;
    font-weight: 500; 
    font-size: 14px;
    letter-spacing: 0.05rem;
    color: #676e86; 
}
.bia h2{
    font-family: 'sailec';
    font-style: normal;
    font-weight: bold; 
    font-size: 48px;
    letter-spacing: 0.05rem;
    color: #2b3145; 
}
.bisi{
    padding-left: 2rem;
}
.funny{
    font-family: 'sailec';
    font-style: normal;
    font-weight: bold; 
    font-size: 24px;
    letter-spacing: 0.05rem;
    color: #676e86; 
    padding-left: 0.9rem;
}
.bisi p{
    font-family: 'sailec';
    font-style: normal;
    font-weight: 300; 
    font-size: 14px;
    letter-spacing: 0.05rem;
    color: #676e86; 
    padding-top: .8rem;
}
/*--why choose us section--*/

.lam{
    padding-top: 3rem;  
}
.lam h2{
    padding-top: 2rem;
    font-family: 'sailec';
    font-style: normal;
    font-weight: bold; 
    font-size: 36px;
    letter-spacing: 0.05rem;
    color: #676e86;   
}

.lad{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.card{
    width: 393px;
    height: 363px;
    padding-bottom: 3rem;
    box-shadow: 2px 4px 20px rgba(178, 191, 251, 0.15);
    border-radius: 5px;
}
.card-img-top{
    width: 166px;
    height: 166px;
    margin-left: 6rem; 
}
.tutu p{
    font-family: 'sailec';
    font-style: normal;
    font-weight: 300; 
    font-size: 12px;
    letter-spacing: 0.05rem;
    color: #676e86;   
}
.tutu h4{
    font-family: 'sailec';
    font-style: normal;
    font-weight: bold; 
    font-size: 14px;
    letter-spacing: 0.05rem;
    color: #676e86;   
}
footer{
    background-color: #40474e;
    margin-top: 8rem;
}
.boss{
    padding-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.sob{
    padding-top: 3rem;
}

.nod{
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}
.oyeenz{
    padding-left: 4.5rem;
    padding-right: 2rem;
}
.oyeenz h6{
    font-family: 'sailec';
    font-style: normal;
    font-weight: normal; 
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #ffffff;  
}

.input-group{
    padding-left: 2rem;
        font-family: 'sailec';
        font-style: normal;
        font-weight: normal; 
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #bbbcbe; 
    }


.boss h6{
    font-family: 'sailec';
    font-style: normal;
    font-weight: normal; 
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #ffffff;
    
}

.nod h6{
    font-family: 'sailec';
    font-style: normal;
    font-weight: normal; 
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #676e86;
}hr.light{
    border-top: 1px solid #929292;
    width: 85%;
}
hr.fine{
    border-top: 1px solid #5474ff;
    width: 10%;
}
.btn{
    background-color: #5474ff;
    font-family: 'sailec';
    font-style: normal;
    font-weight: normal; 
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #ffffff;
    border-radius: 1;
    border-color:#5474ff; ;

}    
   















.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}













/*-- media queries --*/
@media (max-width: 992px){

}
@media (max-width: 768px){
    
}
@media (max-width: 576px){
    
}

















/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media (max-width: 768px){
    .smalling h1{
        font-size: 1.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;

}
.smalling h3{
    font-size: .5rem;
    padding-bottom: 1.2rem;
}
.btn-lg{
    font-size: 1rem;
    }

}








@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}



@media (max-width: 768px){
    .bia h2{
        font-size: 2rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
}

}

@media (max-width: 768px){
    .welcome h1{
        font-size: 1.8rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;

}
.welcome p{
    font-size: 1rem;
    padding-bottom: 1.2rem;
}
.dusin{
    font-size: 1rem;
    padding-bottom: 1.2rem;
}
}

@media (max-width: 768px){
    .seun2 h2{
        font-size: 1.8rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;

}
.seun2 p{
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

}

@media (max-width: 768px){
    .cray h2{
        font-size: 1.8rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;

}
.cray p{
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

}

@media (max-width: 768px){
    .lam h2{
        font-size: 1.8rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;

}

}
@media (max-width: 768px){
    
.lekan p{
    font-size: 1rem;
    padding-bottom: 1.2rem;
}


@media screen and ( max-width: 576px ) {
    img.responsive { width: 250px; }
    }
    @media screen and ( min-width:786px){
    img.responsive { width: 300px; }
    }
    @media screen and ( min-width: 992px ) {
    img.responsive { width: 400px; }
    }
    img.responsive { height: auto; }



   





















 